@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}
.card {
  background-color: rgb(40, 39, 39);
}
.header {
  /* background: black; */
  backdrop-filter: blur(4px);
}
